<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="form-title">Actualizar Publicación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <ion-list>
      <ion-item-divider>
        <ion-label>Información de la Mascota</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="publicacion.mascota.nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Raza</ion-label>
        <ion-input [(ngModel)]="publicacion.mascota.raza"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Edad (años)</ion-label>
        <ion-input type="number" [(ngModel)]="publicacion.mascota.edad"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-select [(ngModel)]="publicacion.mascota.sexo">
          <ion-select-option value="Macho">Macho</ion-select-option>
          <ion-select-option value="Hembra">Hembra</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de Mascota</ion-label>
        <ion-select [(ngModel)]="publicacion.mascota.tipo">
          <ion-select-option value="Perro">Perro</ion-select-option>
          <ion-select-option value="Gato">Gato</ion-select-option>
          <ion-select-option value="Ave">Ave</ion-select-option>
          <ion-select-option value="Otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Estado de Salud</ion-label>
        <ion-select [(ngModel)]="publicacion.mascota.estadoSalud">
          <ion-select-option value="Sano">Sano</ion-select-option>
          <ion-select-option value="Enfermo">Enfermo</ion-select-option>
          <ion-select-option value="Recuperación">En recuperación</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Personalidad</ion-label>
        <ion-select [(ngModel)]="publicacion.mascota.personalidad" multiple="true">
          <ion-select-option value="Juguetón">Juguetón</ion-select-option>
          <ion-select-option value="Amable">Amable</ion-select-option>
          <ion-select-option value="Bravo">Bravo</ion-select-option>
          <ion-select-option value="De buen humor">De buen humor</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="publicacion.mascota.descripcion"></ion-textarea>
      </ion-item>

      <ion-item-divider>
        <ion-label>Información del Donante</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="publicacion.donante.nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Número de Contacto</ion-label>
        <ion-input [(ngModel)]="publicacion.donante.numeroContacto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input [(ngModel)]="publicacion.donante.direccion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Documento Actual</ion-label>
        <ng-container *ngIf="publicacion.documentoURL">
          <ng-container *ngIf="esImagen(publicacion.documentoURL); else pdfPreview">
            <ion-img [src]="publicacion.documentoURL"></ion-img>
          </ng-container>
          <ng-template #pdfPreview>
            <a [href]="publicacion.documentoURL" target="_blank">Ver Documento PDF</a>
          </ng-template>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label>Subir Nuevo Documento</ion-label>
        <input type="file" (change)="cargarDocumento($event)" accept="image/*,application/pdf" />
      </ion-item>

      <ion-footer>
        <ion-toolbar>
          <ion-button expand="full" (click)="guardarCambios()">Guardar Cambios</ion-button>
        </ion-toolbar>
      </ion-footer>
    </ion-list>
  </div>
</ion-content>
