<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chat</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div class="chat-container">
    <ion-list #chatContainer>
      <ion-item *ngFor="let mensaje of mensajes">
        <ion-label>
          <h2>{{ mensaje.usuario }}: {{ mensaje.contenido }}</h2>
          <!-- Mostrar tanto la fecha como la hora -->
          <p>{{ mensaje.timestamp | date:'medium' }}</p> <!-- Formato de fecha corta y hora corta -->
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input
            [(ngModel)]="nuevoMensaje"
            placeholder="Escribe un mensaje..."
          ></ion-input>
          <ion-button slot="end" (click)="enviarMensaje()">Enviar</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
