<ion-header>
  <ion-toolbar>
    <ion-title size="large">Chat</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="chat-container">
    <!-- Lista de mensajes -->
    <ion-list #chatContainer>
      <ion-item *ngFor="let mensaje of mensajes">
        <ion-label>
          <h2>{{ mensaje.usuario }}: {{ mensaje.contenido }}</h2>
          <p>{{ mensaje.timestamp | date: 'medium' }}</p>
      
          <ion-list *ngIf="mensaje.respuestas?.length > 0">
            <ion-item *ngFor="let respuesta of mensaje.respuestas">
              <ion-label>
                <h3>{{ respuesta.usuario }}: {{ respuesta.contenido }}</h3>
                <small>{{ respuesta.timestamp | date: 'medium' }}</small>
              </ion-label>
            </ion-item>
          </ion-list>
      
          <div class="botones-container">
          <ion-button fill="solid" color="primary" (click)="seleccionarMensaje(mensaje)">
            Responder
          </ion-button>
          
          <!-- Botón Eliminar con los mismos estilos -->
          <ion-button fill="solid" color="danger" (click)="eliminarMensaje(mensaje)" *ngIf="esAdmin()">
            Eliminar
          </ion-button>
        </div>
          

        </ion-label>
      </ion-item>
      
    </ion-list>


<!-- Formulario de respuesta -->
<ion-card *ngIf="mensajeSeleccionado">
  <ion-card-header>
    Respondiendo a: {{ mensajeSeleccionado.contenido }}
    <ion-button fill="clear" size="small" (click)="cancelarRespuesta()" class="boton-cerrar">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-card-header>
  <ion-card-content>
    <ion-input [(ngModel)]="respuestaMensaje" placeholder="Escribe un mensaje..."></ion-input>
    <ion-button slot="end" (click)="enviarRespuesta()">Enviar</ion-button>
  </ion-card-content>
</ion-card>





    <!-- Formulario de Nuevo Mensaje -->
    <ion-card>
      <ion-card-content>
        <ion-input [(ngModel)]="nuevoMensaje" placeholder="Escribe un mensaje..."></ion-input>
        <ion-button slot="end" (click)="enviarMensaje()">Enviar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
