ion-tab-bar {
  // Translucent positioning effect
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* Archivo de estilos de perfil.page.scss */
.ion-margin {
  margin-top: 20px; /* Espacio sobre el botón para separarlo de otros elementos */
}
