/* Imagen de fondo */
.custom-background {
  --background: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-functional-dog-food-promotion-main-map-image_144794.jpg') no-repeat center center/cover;
  background-attachment: fixed; /* Fija el fondo durante el scroll */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Hacer el ion-content y ion-list transparentes */
ion-content {
  --background: transparent;  /* Fondo del contenido transparente */
}

ion-list {
  background: rgba(255, 255, 255, 0.1);  /* Fondo semi-transparente */
  backdrop-filter: blur(10px); /* Aplicamos desenfoque para darle un toque elegante */
  margin-bottom: 60px;
}


.mascota-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-transparente {
  background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-background {
  background-color: #f5f5f5; /* Un color de fondo personalizado */
}


/* Ajuste de contenido */
ion-card-content {
  padding: 15px;
  font-size: 0.9em;
  color: #333;
}

/* Botones más redondeados */
ion-button {
  --border-radius: 20px;
}

ion-item[lines="none"] {
  --min-height: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  
}

/* Sombras en hover */
ion-card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

/* Encabezado y barra de herramientas */
ion-toolbar {
  --background: #3880ff;
  color: white;
}

/* Títulos */
h2 {
  font-weight: bold;
  font-size: 1.3em;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

/* Párrafos */
p {
  margin: 5px 0;
  color: #555;
}

/* Botón de cerrar sesión */
ion-button {
  color: white;
}

ion-icon {
  margin-right: 5px;
}

/* Estilos para el header */
.header-toolbar {
  --background: var(--ion-color-primary);
  --ion-color-base: #ffffff; /* Color del texto */
}

.header-title {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

/* Estilos para la sección de filtros */
.filter-toolbar {
  --background: #f8f8f8; /* Fondo suave */
  padding-left: 0px;
  padding-right: 0px;
}

.filter-item {
  --min-height: 55px; /* Ajustar la altura mínima */
  padding: 0 12px; /* Espaciado interno */
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin: 12px 0; /* Margen superior e inferior */
}

.filter-label {
  font-weight: 600;
  color: #333; /* Color del texto */
}

.filter-select {
  width: 100%;
  --padding-start: 12px; /* Ajuste de padding interno */
}

.filter-option {
  padding: 8px 12px; /* Ajustar espaciado de las opciones */
}

