.borde {

    border: 2px solid black;
   
  }
.imagen {
    border-radius: 10px;
    border: 0.2rem solid lightgray;
    display: block;
    margin: 1rem auto 0.5rem;
    background-size: cover;
    background-color: lightcyan;
    //Sombreado
    box-shadow: 0 4px 6px rgba(0, 0, 0, 5);
  }
  img{
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 5);
  }
  
  .fondo {
    border-radius: 10px;
    border: 2px solid transparent;
    background-image: url("https://img.freepik.com/vector-gratis/marco-perros-sobre-fondo-blanco_53876-99295.jpg");
    background-size: cover;
    width: 100%;
    box-shadow: 0 4px 6px lightblue;

  }


  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura del contenido al 100% del viewport */
    margin: 1rem;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  .logincontainer {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ajusta el ancho del contenedor al 100% del viewport */
padding: 0.5rem 2rem 0 2rem;
  }
  .centered-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%; /* Ajusta el ancho del ion-item según tus necesidades */
    margin: 0 auto ;
    margin-bottom: 0.1rem;
    border-radius: 10px;
    border: 0.5px solid lightblue;
    background-size: cover;
    background-position: center;
  }
  .centered-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%; /* Ajusta el ancho del ion-item según tus necesidades */
    margin: 0 auto ;
    margin-bottom: 0.1rem;
    border-radius: 10px;
    border: 2px solid black;
    background-size: cover;
    background-position: center;
  }

  .custom-background {
	background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-functional-dog-food-promotion-main-map-image_144794.jpg');
	background-size: cover;
}

.container__card{
  max-width: 1200px;
  margin: auto;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card__father{
  margin: 20px;
  perspective: 1000px;
}

.card__father:hover .card{
  transform: rotateY(180deg);
}


.card{
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
}

.card__front{
  background-size: cover;
  background-position: center;
}


.card__front,
.card__back{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.card__back{
  transform: rotateY(180deg);
  background: white;
}

.body__card_front{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px);
}

.bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  border-radius: 20px;
}

.body__card_back{
  padding: 40px;
  text-align: center;
  transform: translateZ(60px);
}

.body__card_back p{
  margin-top: 30px;
  font-size: 18px;
}

.body__card_back input{
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 10px;
  transition: box-shadow 600ms;
}

.body__card_back input:hover{
  box-shadow: 1px 1px 30px 0px #449de6;
}