.custom-background {
    background-color: #f7f9fc; /* Color de fondo claro */
  }
  
  .custom-toolbar {
    background-color: #3b82f6; /* Color azul personalizado */
    color: #fff;
  }
  
  .form-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
  }
  
  .form-container {
    padding: 15px;
  }
  
  .imagen-full {
    width: 100%;
    height: auto;
    border-radius: 0.5rem; /* Redondear esquinas para que sea consistente */
    margin-top: 10px;
  }
  